<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- 
web.xml문서는 톰캣서버 기동시 가장 먼저 스캔하는 문서임.
배치서술자라고 불린다.(DD파일 어쩌고~)
<context-param>태그안에 오는 선언은 서버 기동시 한번 읽어서 서버가 종료될 때까지 기억함.
프로젝트의 공통된 관심사(JDBC연동, 로그관리, 보안문제 트랙젝션처리)인 것들 중에서
로그에 대한 설정을 실습
 -->  
  <context-param>
  	<param-name>log4jconfigLocation</param-name>
  	<param-value>/WEB_INF/classes/log4.properties</param-value>
  </context-param>
  <display-name>dev_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>helloWeb</servlet-name>
  	<servlet-class>web.basic.HelloWeb</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>helloWeb</servlet-name>
	<url-pattern>/helloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deptBasic</servlet-name>
  	<servlet-class>web.basic.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deptBasic</servlet-name>
	<url-pattern>/dept/deptList.nhn</url-pattern>
  </servlet-mapping>
</web-app>